[project]
	description = Test project B
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ivo Sieben (meltedpianoman)
[access "refs/for/refs/*"]
	read = group user/Ivo Sieben (meltedpianoman)
	push = group user/Ivo Sieben (meltedpianoman)
	label-Code-Review = -2..+2 group user/Ivo Sieben (meltedpianoman)
	label-Verified = -1..+1 group user/Ivo Sieben (meltedpianoman)
	rebase = group user/Ivo Sieben (meltedpianoman)
	removeReviewer = group user/Ivo Sieben (meltedpianoman)
	submit = group user/Ivo Sieben (meltedpianoman)
[access "refs/heads/*"]
	read = group user/Ivo Sieben (meltedpianoman)
	create = group user/Ivo Sieben (meltedpianoman)
	push = +force group user/Ivo Sieben (meltedpianoman)
	pushMerge = group user/Ivo Sieben (meltedpianoman)
[access "refs/tags/*"]
	push = +force group user/Ivo Sieben (meltedpianoman)
	pushTag = group user/Ivo Sieben (meltedpianoman)
	pushSignedTag = group user/Ivo Sieben (meltedpianoman)
